body {
    margin: 0;
    font-family: sans-serif;
    background: #fafafa;
}


/* Barra fixa superior */
.barra-fixed {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 15px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
}

.botones {
    display: inline-block;
    margin: 0 10px;
    padding: 8px 16px;
    border: 2px solid rgb(118, 35, 243);
    border-radius: 6px;
    border-color: rgb(118, 35, 243);
    background-color: white;
    transition: 0.2s;

}

.botones:hover {
    background-color: rgb(118, 35, 243);
    color: white;
}

.pie {
    padding: 15px;
    margin-top: 70px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
}